<div class='row'>
    <div class= 'col s12'>  
   
    <div class="section" id="aboutme">
      <h5 id="mainText" class="center">Here's a few words about me...</h5>
      <p>The turn that has taken my career towards web development has been quite a journey. For the past eight years, I have been working as an engineer in the aerospace industry. Though I enjoyed the analytical aspects of my job, I really wanted to dive more into my creative side. I chose web development as it allowed me to merge both my creativity and analytical skills. I have learned a tremendous amount in these past few months, as I continue to educate myself in order to cultivate my skills. I am looking forward to this career path and what it has in store for my future.</p>
    </div>
    </div>
    </div>
        