<div class='contactContainer'>
<div class="card" 'center-align' "contactCard">
        <div class="card-content">
          <p>I am accessbile through all of the links bellow. Feel free to contact me and I will get back to you as soon as possible.</p>
        </div>
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#test5">Email</a></li>
            <li class="tab"><a href="#test6">github</a></li>
            <li class="tab"><a href="#test7">LinkedIn</a></li>
          </ul>
        </div>
        <div class="card-content grey lighten-4">
          <div id="test5"><a href="rkvasisht@gmail.com">rkvasisht@gmail.com</a></div>
          <div id="test6"><a href="https://github.com/rkvasisht">https://github.com/rkvasisht</a></div>
          <div id="test7"><a href="https://www.linkedin.com/in/rahul-vasisht/">https://www.linkedin.com/in/rahul-vasisht/</a></div>
        </div>
      </div>
</div>