<div class='row'>
<div class= 'col s12'>  
<div class='home'>
<div class="section" id="landing">
  <h5 id="mainText" class="center">“The secret of joy in work is contained in one word – excellence. To know how to do something well is to enjoy it.”</h5>
  <p id='infoLanding'>Hello, I am web developer who believes in doing good work. I know this is a simple phrase but it really encompuses what I believe in. I like to embrace a chanllenge and put forth my all my skills to get the job done right. Please take some time and review some of my work, as I hope they will give you a sense of my skills and ability.</p>
</div>
</div>
</div>
</div>







