<div class='projects'>
<div class="section" id="landing">
        <h1 id="mainText" class="center">Projects</h1>
        
      
      </div>


<div class="row">
    <div class="col m4">
        <div class="card" "projectCard">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../images/html-css-js.png" >
         </div>
        <div class="card-content">
         <span class="card-title activator grey-text text-darken-4">Trivia: The Office<i class="material-icons right">more_vert</i></span>
        <p><a href="https://rkvasisht.github.io/trivia/">Website</a></p>
        <p><a href="https://github.com/rkvasisht/trivia">github</a></p>
        </div>
        <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Description:<i class="material-icons right">close</i></span>
        <p>This game is two player trivia game that is based on the theme of the show The Office. This trivia game used a mix of vanilla javascrip, html and css. It incorporated quite a bit of game logic as well as well as uniqe styling.</p>
        </div>
    </div>
  </div>
  <div class="col m4">
  <div class="card" "projectCard">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="../images/project2.png" >
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Carbon Trip Tracker<i class="material-icons right">more_vert</i></span>
      <p><a href="https://carbon-trip-tracker.herokuapp.com/">Website</a></p>
      <p><a href="https://carbon-trip-tracker.herokuapp.com/">github</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Description:<i class="material-icons right">close</i></span>
      <p>Carbon Trip Tracker is a full stack application that shows the user their cabron emmisions based on their vehicle and distance traveled.</p>
    </div>
  </div>
  </div>
  <div class="col m4">
  <div class="card" "projectCard">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="../images/mongoReact.png" >
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Multapply<i class="material-icons right">more_vert</i></span>
      <p><a href="https://github.com/shullmb/multapply">github</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Description:<i class="material-icons right">close</i></span>
      <p>Multapply is a application that allows roomates to apply to multiple rental properties with one rental application. This application was my first group collaborated project.</p>
    </div>
  </div>
  </div>
  </div>
  </div>